# 读写数据文件

In [ ]:
#统计工作中，更多情况是外部导入数据，而非在R中敲键盘输入，
#这节课教大家如何导入数据、保存数据

### 读纯文本文件

In [23]:
#常用的函数有，read.table（）和scan（）

#read.table()读表格文件，现有一个“house.data”文件
rt <- read.table("house.data")
rt

   Price Floor Area Rooms Age Cent.heat
01 52.00 111    830 5     6.2 no
02 54.75 128    710 5     7.5 no
03 57.50 101   1000 5     4.2 no
04 57.50 131    690 6     8.8 no
05 59.75  93    900 5     1.9 yes

In [24]:
#此时rt是一个数据框，与“house.data”格式一致
class(rt)

[1] "data.frame"

In [25]:
#如果数据中没有第一列序号,则 header = T,填充序号
read.table("house.data",header = T)

   Price Floor Area Rooms Age Cent.heat
01 52.00 111    830 5     6.2 no
02 54.75 128    710 5     7.5 no
03 57.50 101   1000 5     4.2 no
04 57.50 131    690 6     8.8 no
05 59.75  93    900 5     1.9 yes

read.table()使用格式：

read.table(file, header = FALSE, sep = "", quote = "\"’",
dec = ".", row.names, col.names, as.is = FALSE,
na.strings = "NA", colClasses = NA, nrows = -1,
skip = 0, check.names = TRUE,
fill = !blank.lines.skip, strip.white = FALSE,
blank.lines.skip = TRUE, comment.char = "#")

file是文件名路径， header表示第一行是否为变量名，sep是数据分隔字符（默认用空格分隔）
skip表示读数据时跳过的行数

In [26]:
#scan()函数直接读纯文本文件
inp <- scan("weight.data")
inp
length(inp)

 [1] 75.0 64.0 47.4 66.9 62.2 62.2 58.7 63.5 66.6 64.0 57.0 69.0 56.9 50.0 72.0

[1] 15

In [27]:
#如果数据有不同属性,男、女相隔放置
scan("weight.data", list(boy = 0, girl=0))

Warning message in scan("weight.data", list(boy = 0, girl = 0)):
"读取的项目数必需是列数的倍数"

$boy
[1] 75.0 47.4 62.2 58.7 66.6 57.0 56.9 72.0

$girl
[1] 64.0 66.9 62.2 63.5 64.0 69.0 50.0   NA

In [28]:
#用scan()把15个元素放入到3行5列的矩阵中

matrix(scan("weight.data"),nrow = 3,ncol = 5,byrow = T)

     [,1] [,2] [,3] [,4] [,5]
[1,] 75.0 64.0 47.4 66.9 62.2
[2,] 62.2 58.7 63.5 66.6 64.0
[3,] 57.0 69.0 56.9 50.0 72.0

scan()的一般格式：
scan(file = "", what = double(0), nmax = -1,
n = -1, sep = "",
quote = if(identical(sep, "\n")) "" else "’\"",
dec = ".", skip = 0, nlines = 0, na.strings = "NA",
flush = FALSE, fill = FALSE, strip.white = FALSE,
quiet = FALSE, blank.lines.skip = TRUE,
multi.line = TRUE, comment.char = "",
allowEscapes = TRUE)

file为文件路径，what指定列表，则列表每项的类型为读取类型， skip为跳过文件多少行，再开始读， sep控制数据间分割符

### 读取SPSS，SAS, S-PLUS, Stata数据文件

In [29]:
#载入“foregin”包
#install.packages('foregin')#未有的install.packages一下
library(foreign)

#读取SPSS文件
rs <- read.spss("文件路径及名称.sav")
#读取SAS文件
rx <- read.xport("文件路径及名称.xpt")
#读取S-PLUS文件
rs <- read.S("文件路径及名称")
#读取Stata文件
rd <- read.dta("文件路径及名称.dta")

### 读取Excel数据文件

#读取.csv
read.csv("文件路径及名称.csv")

In [30]:
library("readxl")

readxl::read_xlsx("文件路径及名称.xlsx")
readxl::read_xls("文件路径及名称.xls")
readxl::read_excel("文件路径及名称.xlsx/xls")

### 链接嵌入的数据库

In [31]:
#R 本身提供了50多个数据库，还有很多附带数据库的package
data()

In [32]:
data(AirPassengers)
AirPassengers

     Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec
1949 112 118 132 129 121 135 148 148 136 119 104 118
1950 115 126 141 135 125 149 170 170 158 133 114 140
1951 145 150 178 163 172 178 199 199 184 162 146 166
1952 171 180 193 181 183 218 230 242 209 191 172 194
1953 196 196 236 235 229 243 264 272 237 211 180 201
1954 204 188 235 227 234 264 302 293 259 229 203 229
1955 242 233 267 269 270 315 364 347 312 274 237 278
1956 284 277 317 313 318 374 413 405 355 306 271 306
1957 315 301 356 348 355 422 465 467 404 347 305 336
1958 340 318 362 348 363 435 491 505 404 359 310 337
1959 360 342 406 396 420 472 548 559 463 407 362 405
1960 417 391 419 461 472 535 622 606 508 461 390 432

In [33]:
#如果需要从其他包获取数据
data(package = 'lme4')

In [34]:
data(Arabidopsis,package = 'lme4')
Arabidopsis

    reg popu gen rack nutrient amd       status      total.fruits
1   NL  3.NL  4  2    1        clipped   Transplant   0
2   NL  3.NL  4  1    1        clipped   Petri.Plate  0
3   NL  3.NL  4  1    1        clipped   Normal       0
4   NL  3.NL  4  2    1        clipped   Normal       0
5   NL  3.NL  4  2    8        clipped   Transplant   0
6   NL  3.NL  4  2    1        unclipped Petri.Plate  0
7   NL  3.NL  4  2    1        clipped   Normal       0
8   NL  3.NL  4  1    1        clipped   Normal       3
9   NL  3.NL  4  2    8        unclipped Normal       2
10  NL  3.NL  5  1    1        clipped   Petri.Plate  0
11  NL  3.NL  5  2    1        clipped   Transplant   0
12  NL  3.NL  5  2    8        unclipped Transplant   0
13  NL  3.NL  5  2    8        clipped   Normal       1
14  NL  3.NL  5  1    1        unclipped Petri.Plate 15
15  NL  3.NL  5  1    8        clipped   Normal      33
16  NL  3.NL  6  1    1        clipped   Petri.Plate  0
17  NL  3.NL  6  1    1        clipped   Normal       0
18  NL  3.NL  6  2    1        clipped   Normal       0
19  NL  3.NL  6  2    1        unclipped Petri.Plate  7
20  NL  3.NL  6  2    8        clipped   Normal       8
21  NL  5.NL 11  2    1        clipped   Petri.Plate  0
22  NL  5.NL 11  1    1        clipped   Petri.Plate  0
23  NL  5.NL 11  2    1        unclipped Transplant   0
24  NL  5.NL 11  2    1        clipped   Normal       0
25  NL  5.NL 11  1    8        unclipped Transplant  50
26  NL  5.NL 12  2    1        unclipped Transplant   0
27  NL  5.NL 12  1    1        unclipped Petri.Plate  1
28  NL  5.NL 12  1    8        clipped   Normal      85
29  NL  5.NL 12  2    8        unclipped Normal       8
30  NL  5.NL 12  1    1        clipped   Petri.Plate  8
<U+22EE>   <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE> <U+22EE>  <U+22EE>    <U+22EE>
596 SP  5.SP 16  2    8        unclipped Transplant   90
597 SW  1.SW 25  1    8        unclipped Normal       77
598 NL  5.NL 11  2    8        clipped   Transplant   91
599 NL  5.NL 11  1    1        unclipped Normal      123
600 SW  1.SW 27  2    8        unclipped Transplant  105
601 SP  5.SP 16  1    1        clipped   Normal      144
602 SP  5.SP 17  1    8        clipped   Normal      238
603 SP  5.SP 18  2    8        unclipped Normal      131
604 SP  5.SP 17  1    8        clipped   Normal      121
605 SP  6.SP 21  1    8        unclipped Normal      114
606 SP  5.SP 18  1    8        clipped   Normal      145
607 SP  6.SP 20  1    8        clipped   Normal      191
608 NL  3.NL  4  2    1        clipped   Normal        1
609 NL  3.NL  4  2    1        unclipped Normal        2
610 NL  3.NL  4  1    8        clipped   Normal        5
611 NL  3.NL  5  1    8        clipped   Petri.Plate  26
612 NL  5.NL 11  2    8        clipped   Normal        5
613 NL  5.NL 11  1    1        clipped   Normal       40
614 NL  5.NL 11  2    1        clipped   Petri.Plate  72
615 SP  1.SP 13  1    8        unclipped Normal        5
616 SP  1.SP 14  2    8        clipped   Normal      103
617 SP  1.SP 15  2    1        unclipped Transplant    6
618 SP  5.SP 16  2    8        clipped   Normal        5
619 SP  5.SP 16  2    1        unclipped Normal        5
620 SP  5.SP 16  1    8        unclipped Petri.Plate   5
621 SW  1.SW 25  2    8        unclipped Normal        5
622 SW  1.SW 25  1    1        clipped   Transplant    3
623 SW  1.SW 27  2    8        unclipped Normal        5
624 SW  1.SW 27  2    8        clipped   Transplant    5
625 SW  7.SW 35  2    1        clipped   Normal        3

In [35]:
#同理，也可以
library(lme4)

In [36]:
data(Dyestuff)

In [37]:
Dyestuff

   Batch Yield
1  A     1545
2  A     1440
3  A     1440
4  A     1520
5  A     1580
6  B     1540
7  B     1555
8  B     1490
9  B     1560
10 B     1495
11 C     1595
12 C     1550
13 C     1605
14 C     1510
15 C     1560
16 D     1445
17 D     1440
18 D     1595
19 D     1465
20 D     1545
21 E     1595
22 E     1630
23 E     1515
24 E     1635
25 E     1625
26 F     1520
27 F     1455
28 F     1450
29 F     1480
30 F     1445

### 写数据文件

In [38]:
### write.table()函数和write.csv()

 df <- data.frame(
Name=c("Alice", "Becka", "James", "Jeffrey", "John"),
Sex=c("F", "F", "M", "M", "M"),
Age=c(13, 13, 12, 13, 12),
Height=c(56.5, 65.3, 57.3, 62.5, 59.0),
Weight=c(84.0, 98.0, 83.0, 84.0, 99.5)
)

In [39]:
write.table(df,file = 'practice.txt')

In [42]:
write.table(df,file = 'practice.csv')

write.table(x, file = "", append = FALSE, quote = TRUE,
sep = " ", eol = "\n", na = "NA", dec = ".",
row.names = TRUE, col.names = TRUE,
qmethod = c("escape", "double"))

write.csv(..., col.names = NA, sep = ",",
qmethod = "double")

x是对象，file是路径， append=T是不覆盖，在原文基础上添加， sep是间隔符