### 方差分析的正态性检验、方差齐性检验没通过怎么办？
#### 使用秩和检验代替

In [60]:
# 小白鼠接种3种病毒，存活天数如下
mouse<-data.frame(
    X=c( 2, 4, 3, 2, 4, 7, 7, 2, 2, 5, 4, 5, 6, 8, 5, 10, 7,
    12, 12, 6, 6, 7, 11, 6, 6, 7, 9, 5, 5, 10, 6, 3, 10),
    A=factor(c(rep(1,11),rep(2,10), rep(3,12)))
)

In [61]:
shapiro.test(mouse[mouse$A==1,'X'])

	Shapiro-Wilk normality test

data:  mouse[mouse$A == 1, "X"]
W = 0.84638, p-value = 0.03828

In [62]:
shapiro.test(mouse[mouse$A==2,'X'])

	Shapiro-Wilk normality test

data:  mouse[mouse$A == 2, "X"]
W = 0.84235, p-value = 0.04708

In [63]:
shapiro.test(mouse[mouse$A==3,'X'])

	Shapiro-Wilk normality test

data:  mouse[mouse$A == 3, "X"]
W = 0.94067, p-value = 0.5068

In [64]:
attach(mouse)

The following object is masked _by_ .GlobalEnv:

    X


The following objects are masked from mouse (pos = 3):

    A, X


The following objects are masked from mouse (pos = 4):

    A, X


The following objects are masked from mouse (pos = 5):

    A, X


The following objects are masked from mouse (pos = 6):

    A, X


The following objects are masked from mouse (pos = 7):

    A, X


The following objects are masked from mouse (pos = 8):

    A, X

In [65]:
 bartlett.test(X~A, data=mouse)

	Bartlett test of homogeneity of variances

data:  X by A
Bartlett's K-squared = 1.2068, df = 2, p-value = 0.5469

In [66]:
#使用秩和检验替代
kruskal.test(X~A, data=mouse)

	Kruskal-Wallis rank sum test

data:  X by A
Kruskal-Wallis chi-squared = 12.026, df = 2, p-value = 0.002447

In [67]:
# Friedman 秩和检验处理配对样本情况
mouse<-data.frame(
    x=c(1.00, 1.01, 1.13, 1.14, 1.70, 2.01, 2.23, 2.63,
    0.96, 1.23, 1.54, 1.96, 2.94, 3.68, 5.59, 6.96,
    2.07, 3.72, 4.50, 4.90, 6.00, 6.84, 8.23, 10.33),
    g=gl(3,8),
    b=gl(8,1,24)
)

In [68]:
mouse

   x     g b
1   1.00 1 1
2   1.01 1 2
3   1.13 1 3
4   1.14 1 4
5   1.70 1 5
6   2.01 1 6
7   2.23 1 7
8   2.63 1 8
9   0.96 2 1
10  1.23 2 2
11  1.54 2 3
12  1.96 2 4
13  2.94 2 5
14  3.68 2 6
15  5.59 2 7
16  6.96 2 8
17  2.07 3 1
18  3.72 3 2
19  4.50 3 3
20  4.90 3 4
21  6.00 3 5
22  6.84 3 6
23  8.23 3 7
24 10.33 3 8

In [69]:
friedman.test(x~g|b, data=mouse)

	Friedman rank sum test

data:  x and g and b
Friedman chi-squared = 14.25, df = 2, p-value = 0.0008047