# 数据框（data.frame）

In [ ]:
# 数据框是一种列表， 以列表为对象，各列表成员必须是向量（数值型、字符型、逻辑型）、
#因子、数值矩阵、列表、甚至其他数据框。

### 数据框的生成

In [43]:
#使用data.frame()函数,用法和list很相似
df <- data.frame(
Name = c('Alice','Becka', 'James', 'Jeffrey', 'John'),
Sex = c("F", "F", "M", "M", "M"),
Age = c(13, 13, 12, 13, 12),
Height=c(56.5, 65.3, 57.3, 62.5, 59.0),
Weight=c(84.0, 98.0, 83.0, 84.0, 99.5)
)

df

  Name    Sex Age Height Weight
1 Alice   F   13  56.5   84.0
2 Becka   F   13  65.3   98.0
3 James   M   12  57.3   83.0
4 Jeffrey M   13  62.5   84.0
5 John    M   12  59.0   99.5

In [44]:
#如果一个列表，其变量（向量、因子、矩阵）有相同长度，可以使用as.data.frame()强制转换
#为数据框
Lst<-list(
Name=c("Alice", "Becka", "James", "Jeffrey", "John"),
Sex=c("F", "F", "M", "M", "M"),
Age=c(13, 13, 12, 13, 12),
Height=c(56.5, 65.3, 57.3, 62.5, 59.0),
Weight=c(84.0, 98.0, 83.0, 84.0, 99.5)
)

Lst

$Name
[1] "Alice"   "Becka"   "James"   "Jeffrey" "John"

$Sex
[1] "F" "F" "M" "M" "M"

$Age
[1] 13 13 12 13 12

$Height
[1] 56.5 65.3 57.3 62.5 59.0

$Weight
[1] 84.0 98.0 83.0 84.0 99.5

In [45]:
df <- as.data.frame(Lst)
df

  Name    Sex Age Height Weight
1 Alice   F   13  56.5   84.0
2 Becka   F   13  65.3   98.0
3 James   M   12  57.3   83.0
4 Jeffrey M   13  62.5   84.0
5 John    M   12  59.0   99.5

In [46]:
class(df)

[1] "data.frame"

In [47]:
mode(df)

[1] "list"

### 数据框的引用

In [49]:
#使用下标、下标向量，名字、名字向量 引用元素
df
df[1:2, 3:5]

  Name    Sex Age Height Weight
1 Alice   F   13  56.5   84.0
2 Becka   F   13  65.3   98.0
3 James   M   12  57.3   83.0
4 Jeffrey M   13  62.5   84.0
5 John    M   12  59.0   99.5

  Age Height Weight
1 13  56.5   84
2 13  65.3   98

In [50]:
#用[[变量名]]引用数据框变量数据
df[["Height"]]

[1] 56.5 65.3 57.3 62.5 59.0

In [51]:
#或用 $,引用效果相同
df$Height

[1] 56.5 65.3 57.3 62.5 59.0

In [52]:
#用[变量名]，引用子数据框
df["Height"]
class(df["Height"])

  Height
1 56.5
2 65.3
3 57.3
4 62.5
5 59.0

[1] "data.frame"

In [53]:
#数据框的变量名，是由属性names定义的，可以用names查看和定义变量名
names(df)

[1] "Name"   "Sex"    "Age"    "Height" "Weight"

In [54]:
names(df) <- c('Name2','Sex2','Age2','Height2','Weight2')
df

  Name2   Sex2 Age2 Height2 Weight2
1 Alice   F    13   56.5    84.0
2 Becka   F    13   65.3    98.0
3 James   M    12   57.3    83.0
4 Jeffrey M    13   62.5    84.0
5 John    M    12   59.0    99.5

In [55]:
#使用rownames还可以定义行名
rownames(df)

[1] "1" "2" "3" "4" "5"

In [56]:
rownames(df) <-c("one", "two", "three", "four", "five")
df

      Name2   Sex2 Age2 Height2 Weight2
one   Alice   F    13   56.5    84.0
two   Becka   F    13   65.3    98.0
three James   M    12   57.3    83.0
four  Jeffrey M    13   62.5    84.0
five  John    M    12   59.0    99.5

### attach 函数

In [57]:
#使用attach可以把数据框的变量直接“连接”到内存中
attach(df)

In [58]:
Name2   
mode(Name2)
class(Name2)  #数据框中非数值型变量会强制转化为因子

[1] Alice   Becka   James   Jeffrey John
Levels: Alice Becka James Jeffrey John

[1] "numeric"

[1] "factor"

In [59]:
Sex2   
mode(Sex2)
class(Sex2)

[1] F F M M M
Levels: F M

[1] "numeric"

[1] "factor"

In [60]:
Age2   
mode(Age2)
class(Age2)

[1] 13 13 12 13 12

[1] "numeric"

[1] "numeric"

In [61]:
#用attach函数是可以提供一些方便的
df$rate <- Height2/Weight2

In [62]:
df

      Name2   Sex2 Age2 Height2 Weight2 rate
one   Alice   F    13   56.5    84.0    0.6726190
two   Becka   F    13   65.3    98.0    0.6663265
three James   M    12   57.3    83.0    0.6903614
four  Jeffrey M    13   62.5    84.0    0.7440476
five  John    M    12   59.0    99.5    0.5929648

In [ ]:
#否则
df$rate <- df$Height2/df$Weight2
df

In [63]:
#如果需要取消这种连接，使用detach()
detach()

In [64]:
Height2

ERROR: Error in eval(expr, envir, enclos): 找不到对象'Height2'